body {
    background-color: #ced7e1 !important;
}

#headerMenu {
    height: 60px;
    background-color: #007bff !important;
    border-top: 1px solid white;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #daf6f4;
}

.hide {
    display: none;
}

main {
    min-height: 1000px;
    background-color: #fff;
}

main #profileSection {
    display: none;
}

main img {
    width: 100%;
}

footer {
    min-height: 30px;
}